*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-family:  'Nunito', sans-serif;
    
}
h1,h2,h3,li{
    font-family: 'Times New Roman', Times, serif;
}

body{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding-inline: 10rem; 
   gap: 5rem;
   max-width: 1600px;
   margin: auto;
   position: relative;
}
/* .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,footer{
    width: 100%;
    margin: auto;
} */
nav a{
    text-decoration: none;
    color: rgb(88, 79, 79);
    font-size: 20px;
}
#logo{
    width: 420px;
    margin: -6rem 0rem;
    position: absolute;
    top: 0;
    left: 5rem;
  
}
.one{
    display: flex;
    margin: 0;
}
#nickname{
    font-size: 40px;
    font-weight: 100;
}
#btc{
    width: 35px;
    margin-bottom: -2px;
    margin-right: -3px;
}
.one h2{
    font-size: 30px;
}

.one div img{
    width: 30px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-top: 5rem;
}
/* #on{
    display: flex;
    justify-content: space-between;
    width: 100%;
} */
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Padding-inline: 3rem; */
    /* position: fixed; */
   /* width: 1600px; */
    background-color: white;
    z-index: 10000;
}
nav ul{
    display: flex;
    list-style: none;
    width: 100%;
}
 nav li{
    font-weight: 400;
    margin: 6px;
    /* border-bottom: 5px solid #cc183c; */
    padding: 5px;
    border-radius: 9px;
}
nav li:hover{
    font-weight: 900;
}
nav{
    transform: initial;
}
article{
    display: flex;
}
.one{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.one-header{
    padding: 0rem;
    width: 50%;
}
.one h1{
    font-size: 40px;
}
.one p{
    font-size: 26px;
    width: 80%;
}
.one img{
    margin: 5px;
}
.one main{
    width: 50%;
}
.one main img{
    width: 98%;
}
.know_me,.eZ,.Aca{
    margin: 0%;
    height: 5px;
    background-color: #0145fe;
}
.know_me{
    width: 50px;
    margin-bottom: -1.3rem;
}
.two{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.two h4{
    margin: auto;
    font-size: 30px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: -3rem;
}
.three, .four{
    display: flex;
    gap: 5rem;
    margin: auto;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
}
.three div,.four div{
    width: 33.33%;
}
.vid{
    width: 100%;
}
.five{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    /* align-items: center; */
}
.five-left h1{
    font-size: 30px;
    font-weight: 600;
}
.five-right{
    font-size: 20px;
}
.five-right h2{
    font-size: 30px;
}
.eZ{
    width: 60px;
    margin-bottom: -1.5rem;
}
.six{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
   overflow: hidden;
}
.six>div{
    margin: -7rem 0rem;
    display: flex;
    align-items: center;
    animation: brand 10s linear 0s infinite ;
}
@keyframes brand {
    0%{
        transform: translateX(100px);
    }
    25%{
        transform: translateX(-500px);
    }
    50%{
        transform: translateX(500px);
    }
    75%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}
#bUNN{
    width: 300px;
    margin-bottom: 0rem;
}
.six h1{
    font-size: 40px;
}
.six img{
    width: 90px;
    margin-right: 2rem;
}
#com{
    font-size: 35px;
}
.Aca{
    width: 90px;
    margin-top: 6rem;
}
.three h2, .four h2{
    padding-left: 8px;
    font-size: 22px;
    text-align: center;
}
#com{
    margin: 0;
}
.seven{
    display: flex;
    gap: 2rem;
    /* width: 80%; */
   align-items: center;
}
.seven-left{
    width: 50%;
    /* background-color: rgb(222, 233, 229); */
    box-shadow: 10px 10px 10px 10px rgb(222, 233, 229);
}
.seven-left img{
    width: 100%;
}
.seven-right{
    width: 50%;
}
.seven-right h1{
    font-size: 35px;
}
.seven-right img{
    width: 20px;
}
.seven-right p{
    width: 100%;
    font-size: 20px;
    line-height: 35px;
}
#web{
    width: 30px;
    margin-bottom: -8px;
    margin-left: 3px;
}
.seven-right button, .nine button{
    font-size: 18px;
    padding: 7px;
    background-color: #0145fe;
    color: white;
    font-weight: bolder;
    border: none;
}
.eight{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: auto;
    /* width: 80%; */
}
.eight-left{
    width: 50%;
    font-size: 30px;
}
.eight-left img{
    width: 44px;
    margin-right: 1rem;
}
#mail{
    transform: translateY(10px);
}
.eight-left h1{
   font-size: 60px;
}
.nine{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
}
.nine header, .ten header, .eleven header{
    margin: auto;
    font-size: 35px;
}
.nine header h1{
    font-size: 30px;
    padding-bottom: 0.5rem;
}
.nine main{
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
}
.nine main div{
    width: 33%;
}
.nine img{
    width: 90%;
    height: 29vh;
}
.nine a{
    font-size: 22px;
    text-decoration: none;
    color: #228b22;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nine button{
    width: 10%;
}
.ten{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}
.ten header{
    font-size: 25px;
}
.ten main{
    display: flex;
    gap: 2rem;
}
.ten main div{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px #dbdbfa;
    width: 33.33%;
}
.ten p{
    font-size: 18px;
    text-align: center;
}
.eleven{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.eleven header{
    font-size: 25px;
}
.eleven div{
    display: flex;
    gap: 1rem;
   
    padding: 3px;
    border-bottom: 1px solid;
}

.eleven div p{
    width: 70%;
    padding: 0rem 0rem;
    font-size: 21px;
    line-height: 30px;
}
.exp{
    width: 100%;
    height: 0.1vw;
    background-color: #cc183c;
    border: none;
}
.exp-img{
    width: 30%;
}
.eleven img{
    width: 200px;
    height: 100px;
}

footer{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(61, 56, 56);
    height: 20vh;
    padding: 2rem;
    color: white;
}
footer img{
    margin: 3px;
    width: 25px;
}
.close{
    display: none;
}
.menu{
    width: 40px;
    display: none;
}


/* @media (min-width: 628px) and (min-width: 1024px;) {
    header{
      
    }
    body{
        
    }
    } */
    
@media only screen and (max-width: 627px){
  nav a{
    text-decoration: none;
    color: rgb(88, 79, 79);
    font-size: 15px;
}
#logo{
    padding-top: 1rem;
    position: absolute;
    width: 320px;
    margin: -5rem 0rem;
    left: -2.5rem;
}
  section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    Padding-inline: 0rem;
    position: fixed;
    width:100%;
    margin-left: -1rem;
    z-index: 9999;
    /* box-shadow: 0 0 10px 10px #dbdbfa; */
    height: 12vh;
}
.menu{
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 1.3rem;
}
.close{
    display: block;
    position: absolute;
    top: 0;
    right: 1rem;
}
.close img{
    width: 30px;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 20px 0px #0145fe;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    width: 250px;
   transform: translateX(300px);
   height: 100vh;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: 100%;
    /* border: 1px solid black; */
}
 nav li{
    font-weight: 700;
    margin: 6px;
    border-bottom: none;
    padding: 9px;
    border-radius: 9px;
    font-size: 35px;
    /* border: 1px solid #cc183c; */
    margin-left: -1.5rem;
}
nav a{
    font-size: 22px;
}

  .one h2{
    font-size: 20px;
}
body{
    width: 100vw;
    padding-inline: 1rem;
    box-sizing: border-box;
    gap: 5rem;
    position: relative;
    justify-content: center;
}
.one{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}
.one-header{
    padding: 0rem;
    width: 100%;
}
.one h1{
    font-size: 30px;
}
.one p{
    font-size: 16px;
    width: 100%;
}
.one img{
    margin: 5px;
}
.one main{
    width: 100%;
}
.one main img{
    width: 100%;
}
#nickname{
    font-size: 25px;
}
#btc{
    width: 22px;
}
#vid{
    width: 100%;
    height: 300px;
}
.vid{
  width: 100%;
}
.five{
    width: 100%;
}
.five-left h1{
    font-size: 30px;
}
.five-right h2{
    font-size: 30px;
}
.five-right p{
    font-size: 16px;
    line-height: 26px;
}
.two{
    margin-bottom: 1rem;
}
.three, .four{
    flex-direction: column;
    gap: 0;
    width: 100%;
    margin: 0;
}
.three h2, .four h2{
    font-size: 20px;
}
.three div, .four div{
    width: 100%;
}
.three p, .four p{
    line-height: 26px;
}
.six{
    width: 100%;
}
.six h1{
    font-size: 30px;
    text-align: center;
}
.six>div{
    width: 100%;
    flex-direction: row;
    /* overflow: hidden; */
    animation: none;
}
.six img{
    width: 50px;
    animation: fo 15s ease-in-out 1s infinite;
}
@keyframes fo {
    0%{
        transform: translateX(0px);
    }
    35%{
        transform: translateX(-480px);
    }
    75%{
        transform: translateX(0px);
    }
    95%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(0px);
    }
}
#com{
    font-size: 30px;
    padding-top: 2rem;
    transform: translateY(0rem);
}
.seven{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#bUNN{
    margin-left: -2rem;
    margin-right: -2rem;
}
.seven-left{
    width: 100%;
    box-shadow: 0px 2px 0px 5px rgb(222, 233, 229);
}
.seven-right{
    width: 100%;
}
.seven-right h1{
    font-size: 30px;
    text-align: center;
    width: 70%;
    border-bottom: 2px solid #0145fe;
}
.seven-right p{
    font-size: 16px;
}
.seven-right img{
    width: 20px;
    margin-right: .4rem;
}
.seven-right button{
    font-size: 16px;
    padding: 5px;
}
#web{
    transform: translateY(-3px);
    width: 22px;
}
.ten header h1{
    font-size: 30px;
}
.ten main{
    flex-direction: column;
}
.ten main div{
    width: 100%;
}
.ten main>span{
    margin-bottom: -1rem;
}
.ten h4{
    font-size: 16px;
}
.eleven header h1{
    font-size: 30px;
}
.eleven main p{
    font-size: 13px;
    padding: 0;
    line-height: 25px;
}
.eleven main img{
    height: 150px;
}
.nine{
    width: 100%;
}
.nine main{
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.nine main div{
    width: 100%;
}
.nine main div img{
    width: 100%;
}
.nine header h1{
    font-size: 30px;
}
.nine button{
    width: 30%;
    font-size: 16px;
    padding: 5px;
}
.eight{
    flex-direction: column-reverse;
    width: 100%;
}
.eight h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: -2rem;
}
.eight p{
    font-size: 20px;
}
.eight{
    gap: 3rem; 
}
.eight-left{
    width: 100%;
}
.eight-left img{
    width: 25px;
    margin-right: .3rem;
}
#mail{
    width: 30px;
    transform: translateY(5px);
    margin-right: -.09rem;
}
.eight-right{
    width: 100%;
}
.eight-right img{
    width: 100%;
}
#email{
    font-size: 23px;
}
footer{
    flex-direction: column;
    gap: 2rem;
    height: 30vh;
}
}
